In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df1 = pd.read_csv("/content/Crime_Data_from_2020_to_Present.csv")

In [ ]:
df1.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277

Preprocessing

drop unnecessary variable

In [ ]:
hapus = ['DR_NO', 'Date Rptd', 'Crm Cd 1', 'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LAT', 'LON', 'TIME OCC', 'Part 1-2', 'Mocodes', 'AREA', 'Rpt Dist No', 'Crm Cd', 'Weapon Used Cd', 'Premis Cd', 'Premis Desc']

In [ ]:
df1.drop(columns=hapus, inplace=True)

change datatype from object to datetime

In [ ]:
df1['DATE OCC'] = pd.to_datetime(df1['DATE OCC'])

Periksa dataframe

In [ ]:
df1.head()

,DATE OCC,AREA NAME,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Weapon Desc,Status,Status Desc,LOCATION,Cross Street
0,2020-03-01,Wilshire,VEHICLE - STOLEN,0,M,O,NaN,AA,Adult Arrest,1900 S LONGWOOD AV,NaN
1,2020-02-08,Central,BURGLARY FROM VEHICLE,47,M,O,NaN,IC,Invest Cont,1000 S FLOWER ST,NaN
2,2020-11-04,Southwest,BIKE - STOLEN,19,X,X,NaN,IC,Invest Cont,1400 W 37TH ST,NaN
3,2020-03-10,Van Nuys,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19,M,O,NaN,IC,Invest Cont,14000 RIVERSIDE DR,NaN
4,2020-08-17,Hollywood,THEFT OF IDENTITY,28,M,H,NaN,IC,Invest Cont,1900 TRANSIENT,NaN

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 873665 entries, 0 to 873664
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DATE OCC      873665 non-null  datetime64[ns]
 1   AREA NAME     873665 non-null  object
 2   Crm Cd Desc   873665 non-null  object
 3   Vict Age      873665 non-null  int64
 4   Vict Sex      758501 non-null  object
 5   Vict Descent  758493 non-null  object
 6   Weapon Desc   302877 non-null  object
 7   Status        873665 non-null  object
 8   Status Desc   873665 non-null  object
 9   LOCATION      873665 non-null  object
 10  Cross Street  138265 non-null  object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 73.3+ MB

Explore the Age of Victim

In [ ]:
df1[df1['Vict Age']==0]

,DATE OCC,AREA NAME,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Weapon Desc,Status,Status Desc,LOCATION,Cross Street
0,2020-03-01,Wilshire,VEHICLE - STOLEN,0,M,O,NaN,AA,Adult Arrest,1900 S LONGWOOD AV,NaN
14,2020-11-01,West Valley,VEHICLE - STOLEN,0,NaN,NaN,NaN,IC,Invest Cont,VALJEAN ST,VANOWEN AV
26,2020-09-09,Hollenbeck,VEHICLE - STOLEN,0,NaN,NaN,NaN,IC,Invest Cont,200 E AVENUE 28,NaN
29,2020-08-14,Topanga,"EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)",0,NaN,NaN,NaN,IC,Invest Cont,7700 SAUSALITO AV,NaN
35,2020-01-18,Pacific,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),0,NaN,NaN,NaN,IC,Invest Cont,WASHINGTON PL,INGLEWOOD
...,...,...,...,...,...,...,...,...,...,...,...
873635,2023-03-19,Hollenbeck,VEHICLE - STOLEN,0,NaN,NaN,NaN,IC,Invest Cont,3200 GARNET ST,NaN
873638,2023-04-29,Hollywood,VEHICLE - STOLEN,0,NaN,NaN,NaN,IC,Invest Cont,1800 WINONA BL,NaN
873642,2023-12-07,Newton,VEHICLE - STOLEN,0,NaN,NaN,NaN,IC,Invest Cont,1500 MATEO ST,NaN
873645,2023-02-05,Pacific,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",0,X,X,NaN,IC,Invest Cont,4300 LINCOLN BL,NaN
873656,2023-12-31,Van Nuys,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0,X,X,NaN,AO,Adult Other,15300 WEDDINGTON ST,NaN

There are over 140,000 cases where the age of the victims is either unknown to the authorities or intentionally kept hidden.


Therefore, I suggest two potential solutions: either proceed with the existing data as is, or alternatively, convert the data type to object and replace every '0' value with 'X', 'Unknown', or 'Hidden

Let say i choose the first option, and assume that 0 is unknown age

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 873665 entries, 0 to 873664
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DATE OCC      873665 non-null  datetime64[ns]
 1   AREA NAME     873665 non-null  object
 2   Crm Cd Desc   873665 non-null  object
 3   Vict Age      873665 non-null  int64
 4   Vict Sex      758501 non-null  object
 5   Vict Descent  758493 non-null  object
 6   Weapon Desc   302877 non-null  object
 7   Status        873665 non-null  object
 8   Status Desc   873665 non-null  object
 9   LOCATION      873665 non-null  object
 10  Cross Street  138265 non-null  object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 73.3+ MB

Let's Address the missing values

1. Let's begin by examining the variable "sex." We will explore further to identify the distinct values of sex and determine the mode or the time it occurs most frequently.

In [ ]:
unique_values = df1['Vict Sex'].unique()
print(unique_values)

['M' 'X' 'F' nan 'H' '-']

We use M, F, and X to denote unknown or hidden values, NaN represents missing data, and H is included without a description.

To handle missing values, I will replace them with either the mode or 'X', depending on which one represents the most frequent data

Based on what we've learned, if the datatype of the fields is String or Object and there are missing values, we can fill them with the mode.

In [ ]:
modusSex = df1['Vict Sex'].mode()[0]
print(modusSex)

0    M
Name: Vict Sex, dtype: object

In [ ]:
df1['Vict Sex'] = df1['Vict Sex'].fillna(modusSex)

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 873665 entries, 0 to 873664
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DATE OCC      873665 non-null  datetime64[ns]
 1   AREA NAME     873665 non-null  object
 2   Crm Cd Desc   873665 non-null  object
 3   Vict Age      873665 non-null  int64
 4   Vict Sex      873665 non-null  object
 5   Vict Descent  758493 non-null  object
 6   Weapon Desc   302877 non-null  object
 7   Status        873665 non-null  object
 8   Status Desc   873665 non-null  object
 9   LOCATION      873665 non-null  object
 10  Cross Street  138265 non-null  object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 73.3+ MB

According to data from lacity.org, victim descent encompasses a broad spectrum of racial identities in the USA. These include Black, Chinese, Korean, White, and many others.

Now let's see what the other races are

In [ ]:
unique_race = df1['Vict Descent'].unique()
print(unique_race)

['O' 'X' 'H' 'B' 'W' nan 'A' 'C' 'K' 'J' 'F' 'I' 'V' 'S' 'P' 'Z' 'G' 'U'
 'D' 'L' '-']

There are 20 races, including NaN, with 'X' representing Unknown. Following the previous logic, I will use mode to substitute the missing value.

In [ ]:
modusDes = df1['Vict Descent'].mode()[0]
print(modusDes)

0    H
Name: Vict Descent, dtype: object

In [ ]:
df1['Vict Descent'] = df1['Vict Descent'].fillna(modusDes)

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 873665 entries, 0 to 873664
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DATE OCC      873665 non-null  datetime64[ns]
 1   AREA NAME     873665 non-null  object
 2   Crm Cd Desc   873665 non-null  object
 3   Vict Age      873665 non-null  int64
 4   Vict Sex      873665 non-null  object
 5   Vict Descent  873665 non-null  object
 6   Weapon Desc   302877 non-null  object
 7   Status        873665 non-null  object
 8   Status Desc   873665 non-null  object
 9   LOCATION      873665 non-null  object
 10  Cross Street  138265 non-null  object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 73.3+ MB

Let's check the missing value for every columns

In [ ]:
df1.isnull().sum()

DATE OCC             0
AREA NAME            0
Crm Cd Desc          0
Vict Age             0
Vict Sex             0
Vict Descent         0
Weapon Desc     570788
Status               0
Status Desc          0
LOCATION             0
Cross Street    735400
dtype: int64

Because the missing values in both Wapon Desc and Cross Street more than 50% and they're not that important feature, so i will drop them.

In [ ]:
df1.drop(columns=['Weapon Desc', 'Cross Street'], inplace=True)

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 873665 entries, 0 to 873664
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DATE OCC      873665 non-null  datetime64[ns]
 1   AREA NAME     873665 non-null  object
 2   Crm Cd Desc   873665 non-null  object
 3   Vict Age      873665 non-null  int64
 4   Vict Sex      873665 non-null  object
 5   Vict Descent  873665 non-null  object
 6   Status        873665 non-null  object
 7   Status Desc   873665 non-null  object
 8   LOCATION      873665 non-null  object
dtypes: datetime64[ns](1), int64(1), object(7)
memory usage: 60.0+ MB

In [ ]:
df1.to_csv('Crime_Dataset_Sol-2.csv', index=False)